body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: #a2e4f9;
}
h1{
  font-weight: bold;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}
.name-input {
  width: 500px;
  text-align: center;
}
.text-center {
  text-align: center;
}
.margin-bottom-large {
  margin-bottom: 100px;
}
.margin-bottom-medium {
  margin-bottom: 30px;
}
.margin-bottom-small {
  margin-bottom: 15px;
}
.text-strong {
  font-weight: bold;
}
.font-size-20{
  font-size: 20px;
}
.font-size-30{
  font-size: 30px;
}
.btn-full{
  width: 100%;
}
.card{
  background-color: white;
  border-radius: 8px;
  width: 100%;
  padding: 8px;
  min-height: 200px;
}
.icon{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
